<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1> Registration in memos </h1>
<!-- th:object에 지정된 객체의 멤버 필드인 경우 *{}를 이용한 접근 ${memo.mno} == *{mno} -->
<form action="#" th:action="@{'/members'}" th:object="${member}" th:method="post">
    Id : <input type="text" name="id" th:field="*{id}" /><br>
    pw : <input type="text" name="pw" th:field="*{pw}" /><br>
    name : <input type="text" name="name" th:field="*{name}" /><br>
    email : <input type="text" name="email" th:field="*{email}" /><br>
    phone : <input type="text" name="phone" th:field="*{phone}" /><br>
    address : <input type="text" name="address" th:field="*{address}" /><br>
    <input type="submit" value="Register"/><input type="reset" value="Reset" />
</form>
</body>
</html>